<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Administrator/IdeaProjects/SeleniumLearning">
        <classes>
            <class name="com.maheshmh.EX03_locators.login_health">
               <methods>
                   <include name="test_invalidlogin_health" >
                   </include>
               </methods>
            </class>
        </classes>
    </test>
</suite>